{% extends 'base.html.twig' %}

{% block title %}SymRecipe - Inscription{% endblock %}

{% block body %}
    <h1 class="mt-4">Formulaire d'inscription</h1>
    <div class="container w-25">
        {{ form(form) }}
    </div>
{% endblock %}
